

h1 {
    text-align: center;
}
// #fishTankDemo {}

body {
    background: rgb(141, 142, 146);
    color: #8c4343;
}

#demoCanvas {
    background: rgb(68, 99, 185);
    // padding: 2px;
    // margin-right: 4px, black;
    // margin-left: 4px, black;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}